@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css";

/* @import url("http://fonts.cdnfonts.com/css/circular-std");


* {
  font-family: 'Circular Std';
} */

.parent-main {
  background: #424f55;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
}
img {
  width: 100%;
}
.container-fluid {
  max-width: 1200px;
  margin: auto;
}

/*  Navbar Section Start  */

.header-main {
  padding-top: 0.74%;
}

.header-main .container-fluid {
  max-width: 1250px;
  margin: auto;
}

.header-main .row {
  display: inherit !important;
}

.navbar-brand {
  width: 33.33%;
  color: white;
}

.navbar-brand span {
  color: #ff8944;
}

.navbar-brand .dot {
  color: #fdd365;
}

.navbar-collapse {
  width: 66.33%;
}

/* .navbar-nav {
	width: 50%;
} */

.nav-link-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-light .navbar-toggler {
  background-color: white;
  color: white;
}

.navbar-toggler {
  background-color: white;
}
.btn-secondary {
  color: #fff;
  background: transparent !important;
  border: none !important;

  box-shadow: none !important;
}

/* .dropdown{
  float: right;
  padding: 0px 0px 0px 0px;
  margin: -33px -4px -20px 0px;
} */
.nav-item .active {
  margin-right: 16px;
}
/* Navbar Section End */

/* Banner section Start */
/* .various-topic h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 81px;
  color: #65fdbd;
}
.various-topic h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #ffffff;
}
.various-topic h4 span {
  color: #e5e5e5;
}
.ux-design a {
  background: #45605f;
  color: #65fdbd;
  text-decoration: none;
  margin-right: 3%;
  border-radius: 100px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
}
.various-icon img {
  width: 18%;
}
.various-icon {
  border-radius: 32px;
  background: #556166;
  padding-bottom: 7%;
}
.various-icon .first-row,
.various-icon .Second-row {
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
} */

/* Banner section Close */
/* Media Query Strat */
@media screen and (max-width: 1200px) {
  /* .footer-tabs ul li a,
  .footer-tabs ul li a {
    margin: 6px;
  } */
}
@media screen and (max-width: 992px) {
  /* .footer-tabs ul li a,
  .footer-tabs ul li a:hover {
    padding: 10px 8px;
  } */
  .parent-main {
    height: 100%;
  }
  .various-topic h3 {
    font-size: 45px;
  }
  .various-topic h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 757px) {
  .main-various {
    padding-top: 0 !important;
  }
  .main-various-icon {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .footer-tabs ul li a,
  .footer-tabs ul li a {
    padding: 10px 6px;
    font-size: 10px;
  }
}
@media screen and (max-width: 475px) {
  .footer-tabs ul {
    display: inherit !important;
  }
  .footer-tabs ul li {
    margin-bottom: 14%;
  }
  .footer-tabs ul li a,
  .footer-tabs ul li a {
    padding: 10px 70px;
  }
}
@media screen and (max-width: 420px) {
  .ux-design a {
    font-size: 12px;
  }
  .various-topic h3 {
    font-size: 35px;
    line-height: 45px;
  }
  .various-topic h4 {
    font-size: 25px;
  }
}
/* Media Query Close */
