@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css";

/* @import url("http://fonts.cdnfonts.com/css/circular-std");


* {
  font-family: 'Circular Std';
} */

.parent-main {
  background: #424f55;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
}
img {
  width: 100%;
}
.btn-secondary {
  color: #fff;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.dropdown {
  position: relative;
  right: -55px;
  top: -35px;
}
/*  Navbar Section Start  */

.header-main {
  padding-top: 0.74%;
}

.header-main .container-fluid {
  max-width: 1250px;
  margin: auto;
}

.header-main .row {
  display: inherit !important;
}

.navbar-brand {
  width: 33.33%;
  color: white;
}

.navbar-brand span {
  color: #ff8944;
}

.navbar-brand .dot {
  color: #fdd365;
}

.navbar-collapse {
  width: 66.33%;
}

.navbar-nav {
  width: 50%;
}

.nav-link-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-left: 11px;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-light .navbar-toggler {
  background-color: white;
  color: white;
}

.navbar-toggler {
  background-color: white;
}
.navbar-1 {
  margin-bottom: -5%;
}
/* Navbar Section End */

/* Banner section Start */
.images-slider {
  display: grid;
}
.img-slider-1 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;

  width: 45%;
  transform: rotate(-90deg);
}
.img-slider-2 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;

  width: 40%;
  transform: rotate(-90deg);
}
.img-slider-3 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;

  width: 35%;
  transform: rotate(-90deg);
}
.img-slider-4 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;

  width: 30%;
  transform: rotate(-90deg);
}
.img-slider-5 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;

  width: 25%;
  transform: rotate(-90deg);
}
.img-slider-6 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;
  width: 20%;
  transform: rotate(-90deg);
}
.img-slider-7 img {
  background: #3c484d;
  border-radius: 50%;
  border: none;

  width: 15%;
  transform: rotate(-90deg);
}
.owl-carousel {
  transform: rotate(90deg);
  width: 270px;
  margin-top: 40px;
}
.owl-carousel img {
  cursor: pointer;
}
.owl-carousel img:hover {
  background-color: #e5e5e5 !important;
}

.item {
  transform: rotate(-90deg);
}

.owl-carousel .owl-nav {
  display: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

/* .owl-item.active{
    background-color: #A0A7AA !important;


} */
div.owl-carousel .owl-nav .owl-prev,
div.owl-carousel .owl-nav .owl-next {
  font-size: 36px;
  top: unset;
  bottom: 15px;
}

.Need h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 81px;
  color: #fdd365;
  padding: 1% 10% 3% 10%;
}
.Need span {
  color: white;
}

.Need-select select {
  width: 100%;

  margin-bottom: 4%;
  border-radius: 80px;
  background: #556166;
  border: none;
  outline: none;
  padding: 2% 0% 2% 9%;
  font-size: 14px;
  color: #e5e5e5;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  border-radius: 32px;
  padding-left: 5%;
  color: #b2b2b2;
  background: #556166;
  border: none;
}
textarea:focus {
  outline: none;
  border: 1px solid darken(#ddd, 5%);
  box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
}
textarea::placeholder {
  font-style: italic;
  font-size: 0.875rem;
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  margin-bottom: 1%;
}
.wrapper {
  max-width: 100%;
}
.Need-select {
  position: relative;
}
.Need-select img {
  width: 30px;
  height: 30px;
  background-color: #667175;
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  left: 2%;
  top: 9%;
}

.Need a input {
  width: 100%;

  margin-bottom: 2%;
  border-radius: 80px;
  border: none;
  outline: none;
  padding: 2% 0% 2% 0%;
  background: #676958;
  color: #fdd365;
  text-align: center;
}
.pofile,
.Message,
.work {
  position: relative;
}
.need-icon {
  display: grid;
  position: relative;
  top: 30%;
  right: -57%;
}
.need-icon a i {
  color: black;
}
.need-icon i {
  position: relative;
  margin-bottom: 20%;
  z-index: 1;
}
.need-icon i::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #8e9599;
  border-radius: 50%;
  left: -13px;
  top: -12px;
  z-index: -1;
}
/* Banner section Close */
/* Footer-tabs Section Start */

.footer-tabs ul {
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tabs ul li a,
.footer-tabs ul li a:hover {
  padding: 10px 40px;
  position: relative;
  border-radius: 20px;
  background-color: #525e63;
  text-decoration: none;
  margin: 30px;
  font-size: 12px;
  color: white;
}

.footer-tabs ul li a.active {
  background-color: #676958;
}

.footer-tabs ul li a.active span {
  position: absolute;
  width: 40px;
  height: 10px;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  background: #fdd365;
  border-radius: 100px;
  color: #ffffff;
}
/* Footer-tabs Section End   */
/* Media Query Strat */
@media screen and (max-width: 1200px) {
  /* .footer-tabs ul li a,
  .footer-tabs ul li a {
    margin: 6px;
  } */
}
@media screen and (max-width: 992px) {
  .owl-carousel {
    transform: rotate(0deg) !important;
  }
  .img-slider-1 img,
  .img-slider-2 img,
  .img-slider-3 img,
  .img-slider-4 img,
  .img-slider-5 img,
  .img-slider-6 img,
  .img-slider-7 {
    transform: rotate(0deg) !important;
  }
  .need-icon i {
    margin-bottom: 1%;
    margin-left: 6% !important;
  }
  .need-icon {
    display: block !important;
    right: -29% !important;
  }
  /* .footer-tabs ul li a,
  .footer-tabs ul li a:hover {
    padding: 10px 8px;
  } */
  .parent-main {
    height: 100%;
  }
}
@media screen and (max-width: 757px) {
  .images-slider {
    padding: 0 !important;
  }
  .Need-select select {
    outline: none;
    padding: 3% 0% 3% 9%;
  }
  .Need-select img {
    top: 16%;
  }
}
@media screen and (max-width: 576px) {
  .footer-tabs ul li a,
  .footer-tabs ul li a {
    padding: 10px 6px;
    font-size: 10px;
  }
  .Need-select img {
    width: 22px;
    height: 22px;

    padding: 3px;
    border-radius: 50%;

    left: 2%;
  }
  .banner-mian .Need-main {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  .Need h1 {
    font-size: 33px;
    line-height: 45px;
  }
}
@media screen and (max-width: 475px) {
  .footer-tabs ul {
    display: inherit !important;
  }
  .footer-tabs ul li {
    margin-bottom: 14%;
  }
  .footer-tabs ul li a,
  .footer-tabs ul li a {
    padding: 10px 70px;
  }
  .need-icon {
    right: -17% !important;
  }
  .need-icon i {
    margin-left: 10% !important;
    margin-top: 5%;
  }
  .Need h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
@media screen and (max-width: 420px) {
  .Need-select select {
    font-size: 11px;
  }
  .Need-select img {
    width: 18px;
    height: 18px;
    padding: 3px;
    left: 2%;
    top: 14%;
  }
}
/* Media Query Close */
